<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MySongsActivity"
            android:label="@string/activity_my_songs"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PlayerActivity"
            android:label="@string/activity_player"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TopHitsActivity"
            android:label="@string/activity_top_hits"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PaymentActivity"
            android:label="@string/activity_payment"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RandomSongFinderActivity"
            android:label="@string/activity_music_search"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailedSongActivity"
            android:label="@string/activity_detailed_song"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>